__pycache__
.venv
*.db

*.aux
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.out
*.url
*.svn
*.toc
/*.pdf
*.bcf
*.fls
*.listing
*.lol
*.run.xml
*.synctex.gz
*.bkp

_minted
svg-inkscape
